<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    
    <meta name="twitter:title" content=
      {% block twitter_title %}
      "Spellbook"
      {% endblock %}
    />

    <meta name="twitter:description" content=
      {% block twitter_description %}
      "5e spellbook manager" 
      {% endblock %}
    />
    
    <title>{% block title %}Spellbook{% endblock %}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spell_filter.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% set version = "1.4" %}

    {% block filtercontrol %}{% endblock %}
    {% block userblock %}{% endblock %}

    {% block spellblock %}{% endblock %}

    <div class="loader" ID="loadingbar"></div>  

    <div class=page>
      {% block errorblock %}
        {% if error %}
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            &nbsp;&nbsp;{{ error }}
          </div>
        {% endif %}
      {% endblock %}
        <div id="mainbodydiv">
          {% block body %}{% endblock %}
        </div>
    </div>
  </body>
</html>